@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Open+Sans:wght@400;800&family=Poppins:wght@500;600&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
.text-primary {
  color: #fd6e0a;
}
